<?xml version="1.0" encoding="utf-8"?>

<odoo>

    <menuitem
        id="menu_hospital_root"
        name="Hospital_Menu"/>

    <menuitem
        id="hms_interface"
        name="HMS interface"
        parent="menu_hospital_root"/>

    <menuitem
        id="hms_patient"
        name="HMS patients"
        parent="hms_interface"
        sequence="10"
        action="action_hms_patients"/>

    <menuitem
        id="hms_patient_readonly"
        name="HMS patients readonly"
        parent="hms_interface"
        sequence="20"
        action="action_hms_patients_readonly"/>

    <menuitem
        id="menu_appointments"
        name="Appointments"
        parent="menu_hospital_root"
        action="action_hms_appointments"/>
    
</odoo>
