<?xml version="1.0" encoding="utf-8"?>

<odoo>

    <menuitem
        id="menu_hospital_root"
        name="Hospital_Menu"
        web_icon="addons_hospital,static/description/icon.png"/>

    <menuitem
        id="hms_interface"
        name="HMS interface"
        parent="menu_hospital_root"/>

    <menuitem
        id="hms_patient"
        name="HMS patients"
        parent="hms_interface"
        sequence="10"
        action="action_hms_patients"/>

    <menuitem
        id="hms_patient_readonly"
        name="HMS patients readonly"
        parent="hms_interface"
        sequence="20"
        action="action_hms_patients_readonly"/>

    <menuitem
        id="menu_appointments"
        name="Appointments"
        parent="menu_hospital_root"
        action="action_hms_appointments"/>

    <menuitem
        id="hms_configuration"
        name="Configuration"
        sequence="100"
        parent="menu_hospital_root"/>

    <menuitem
        id="menu_patient_tag"
        name="Patient tag"
        parent="hms_configuration"
        action="action_patient_tag"/>
    
</odoo>
